.elementor-180 .elementor-element.elementor-element-895545a {text-align: center;}
.elementor-180 .elementor-element.elementor-element-9ba3b4b {--divider-border-style: solid;--divider-border-color: #000;--divider-border-width: 1px;}
.elementor-180 .elementor-element.elementor-element-9ba3b4b .elementor-divider-separator {width: 100%;}
.elementor-180 .elementor-element.elementor-element-9ba3b4b .elementor-divider {padding-top: 15px;padding-bottom: 15px;}
@media (min-width:768px) {.elementor-180 .elementor-element.elementor-element-ba13599 {width: 28.772%;}
	.elementor-180 .elementor-element.elementor-element-261c3b9 {width: 42.105%;}
	.elementor-180 .elementor-element.elementor-element-54361e6 {width: 28.787%;}}